@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

#prev, #next {
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: -50px; /* Adjust according to your layout */
}

#next {
    right: -50px; /* Adjust according to your layout */
}